
body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;;
}

.mt-50 {
	margin-top: 50px;
}

.mt-10 {
	margin-top: 10px;
}


/*footer styles*/

.myfooter {
	position: relative;
	top: 1208px;
	min-height: 60px;
	background-color:#222 ;
	color:#7a7a7a;
	padding: 3%;
}

.footerSmallLinks {
	font-size: 11px;
	margin-right: 4px;
}

.footerSmallText {
	font-size: 9px;
}

.myfooter a{
	text-decoration: none;
	color: #7a7a7a;
}

.preFooterContainer {
	background-color: #252525;
	margin-top: 1.0625rem;
	max-height: 320px;
	position: relative;
	top: 1208px;
	padding: 3%;
}

.preFooterContainer h5 {
	color: #fff;
	margin-top: 5%;
}

.preFooterContainer p {
	color: #a0a0a0;
	line-height: 3.1831em;
	font-family: sans-serif;
}

.thumImg {
	display: inline-block;
	margin: .125rem;
}

.imgThumbDiv {
	width: 70%;
	margin-top: 7%;
}

.latestNewsLink {
	text-decoration: none;
	color: #a0a0a0;
}

.latestNewsLink:hover {
	color: #FF6863;
	text-decoration: none;
}

.latestNewsP {
	font-size: x-small;
}

.brandHead {
	color: #fff;
	font-size: 33px;
	margin-top: 20%;
}

.brandPar {
	font-size: x-small;

	/*/////END OF footer STYLES//////////*/

}
/*Navbar styles*/

.myNav.scrolled {
	background-color: #fff !important;
	transition: background-color 200ms linear;
}

.fa.fa-bars {
	color: #fff;
}

.myNav.scrolled .nav-link {
	color:#454545 !important;
}

.myNav.scrolled .fa.fa-bars {
	color: #454545;
}

.myNav.scrolled .navbar-brand {
	color:#454545 !important;
}

.myNav {
	background: none;
	border: none;
	z-index: 10;
}


.navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
}


.navbar-dark .navbar-nav .nav-link {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-stretch: unset;
	font-weight: bold;
	padding: 20px;
}

.myDropMenu {
	background-color: rgb(34, 34, 34);
} 

.myDropItem {
	font-size: 9px;
	color: rgb(172, 172, 172);
	padding-left: 3px;
}


.myDropItem:hover {
	background-color: #FF6863;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0; // remove the gap so it doesn't close
}


/*/////END OF NAVBAR STYLES//////////*/


/*Home background sector styles*/

.homeBgContainer {
	background-image: url('../images/bgImg1.jpg');
	background-repeat: round;
	width: 100%;
	min-height: 650px;
	position: absolute;
	top: 0;
}

#ctaHomePg {
	padding: 14px;
	font-weight: bold;
	width: 24%;
	border-radius: 0;
	background-color: rgb(116, 219, 123);
	margin-top: 6%;
	border: none;
}


#ctaHomePg:hover {
	background-color:#4FC857 ; 

}

.homeHeaderRow {
	margin-top: 17%;
}

.homeHeaderRow h1 {
	color: white;
	font-size: 60px;
	font-weight: bolder;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
}

.homeHeaderRow h4 {
	font-size: 25px;
	color: white;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
}


/*//////END OF BACKGROUND SECTOR STYLES///////*/


/*Video sector styles*/


.vidContainer {
	position: relative;
	top: 670px;
}

.redLine {
	width: 20%;
	border-color: red;
}

.greySubHeader {
	color: grey;
}

.greyParagraph {
	color: #6E7177;
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 17px;
}

/*////////////END OF VIDEO SECTOR STYLES////////////////*/

/*panoramaImg sector styles */

.panoramaImg {
	background-image: url('../images/img2.jpg');
	height: -webkit-fill-available;
	background-repeat: round;
	position: relative;
	top: 760px;
	z-index: 2;
	max-height: 300px;
}


.panoramaImg h1 {
	color: #FFF;
	margin-top: 9%;
}

.panoramaImg h5 {
	color: #F86263;
}

/*////////////END OF PANORAMA SECTOR STYLES////////////////*/

/*team sector styles */

.team {
	position: relative; 
	top: 840px;
}

.team img {
	width: 95%;	
}


.team h5 {
	color:#454545 ;
	font-weight: bold;
	margin-top: 100px;
}

.team p {
	color:#6E7177 ;	
	line-height: 2;
}

/*////////////END OF TEAM SECTOR STYLES////////////////*/

/*counter sector styles */


.sideBorder {
	border-right-color: #FFF;
	border-right-width: 1px;
	border-right-style: solid;
}

.counterContainer {
	position: relative;
	top: 900px;
	
}

.counterContainer .row {
	color: #fff;
	background-color: #303030;
	padding: 35px;
}

.counterContainer h4 {
	font-size: 17px;
}

.counterContainer h1 {
	font-size:50px;
}

/*////////////END OF COUNTER SECTOR STYLES////////////////*/


/*benefits sector styles */

.benefitsContainer {
	position: relative;
	top: 1000px;
}

.benefitsContainer .row {
	margin-bottom: 20px;
}

.benefitsContainer h4 {
	color: #FF6863;
	font-size: 1.25rem;
}

.benefitsContainer p {
	color: #6E7177;
	line-height: 2;
	font-size: .875rem;
	font-style: normal;
}


.benefitsIcon {
	width: 10%;
	margin-bottom: 20px;
}

.benefitsIcon2 {
	width: 8%;
	margin-bottom: 20px;
}

.benefitsIcon3 {
	width: 17%;
	margin-bottom: 20px;
}

/*////////////END OF BENEFITS SECTOR STYLES////////////////*/

/*tailor sector styles */

.tailorContainer {
	position: relative;
	top: 1050px;
	background: url('../images/img4.jpg') no-repeat;
	background-size: 100%;
	height: -webkit-fill-available;
	min-height: 690px;
	
}

.tailorContainer h1 {
	color: #FF6863;
	margin-top: 18%;
	margin-bottom: 3%;
	font-size: 2.21rem;
}

.tailorContainer p {
	color: #fff;
	font-size: 1.5rem;
	line-height: 1.7em;
}

/*////////////END OF TAILOR SECTOR STYLES////////////////*/

/*cards sector styles */

.homeCardsContainer {
	position: relative;
	top: 1150px;
}

.cardImg {
	width: 100%;
	margin-bottom: 15px;
}

.cardTitle {
	color: #454545;
	font-size: 1.23rem;
	font-family: sans-serif;
	margin-top: 15px;
}

.cardTitle:hover {
	text-decoration: none;
	color: #454545;
}

.cardParagraph {
	color: #6E7177;
	font-family: sans-serif;
	font-size: .875rem;
}

.cardSmallText {
	font-size: xx-small;
	color: #6E7177;
}

.cardCta {
	color: #FF6863;
	font-size: .6875rem;
}

.cardCta:hover {
	text-decoration: none;
	color: #FF6863;
}

/*////////////END OF CARDS SECTOR STYLES////////////////*/

/*relax sector styles */

.relaxContainer {
	position: relative;
	top: 1250px;
	background: url('../images/img5.jpg') no-repeat;
	background-size: 100%;
	height: -webkit-fill-available;
	height: 400px;
}

.relaxContainer h3 {
	font-size: 30px;
	margin-top: 15%;
	font-family: sans-serif;
	color: #fff;
}

.relaxContainer p {
	color: #fff;
	margin-top: 2%;
	font-size: smaller;
	font-family: sans-serif;
}


.relaxContainer p span {
	color: #FF6863;
}

/*////////////END OF RELAX SECTOR STYLES////////////////*/


/*cta separator sector styles */

.ctaSeparator {
	position: relative;
	top: 1250px;
	background-color: #74db7b;
	min-height: 160px;
}

.ctaSeparator .col-md-9 {
	margin-top: 5%;
}

.ctaSeparator h3 {
	font-family: sans-serif;
	font-size: 33px;
	color: #fff;
	line-height: 3.1rem
}

.ctaSeparator .col-md-3 {
	margin-top: 5%;
}

.ctaFillLess {
	background-color: transparent;
	border: 2px solid #fff;
	color: white;
	font-family: monospace;
	border-radius: 0px;
	width: 100%;
	line-height: 2.30rem;
	font-family: 'open sans';
}

.ctaFillLess:hover {
	background-color: #fff;
	color: rgb(119, 119, 119);
}

/*MEDIA QUERIES*/

.myNav.clicked {
	background-color:#222;
	text-align: center;
	padding-bottom: 100%;
}

.myNav.clicked .nav-link {
	color: #fff;
	padding: 5%;
	border-bottom:1px solid #fff;
	display: inline-block;
}



/*MEDIA QUERIES ---- - - - - Iphone 6,7,8*/
@media only screen and (max-width: 767px) and (orientation: portrait) {

	


	.homeBgContainer h1 {
		margin-top: 40%;
		font-size: 32px;
	}

	.homeBgContainer h4 {
		font-size: 13px;
	}

	#ctaHomePg {
		width: 63%;
		padding: 11px;
	}

	.greyParagraph {
		font-size: 14px;
		line-height: 2.2rem;
	}

	.vidContainer h1 {
		font-size: 30px;
	}

	.greySubHeader {
		font-size: 20px;
	}

	.panoramaImg {
		max-height: 240px;
	}

	.panoramaImg h1 {
		margin-top: 29%;
		font-size: x-large;
	}

	.panoramaImg small {
		font-size: 60%;
	}

	.team {
		text-align: center;
	}


	.sideBorder {
		border-right: none;
		margin-bottom: 5%;
	}

	.tailorContainer h1 {

		font-size: 1.21rem;
	}

	.tailorContainer {
		background-size: cover;
	}

	.tailorContainer p {
		font-size: 0.9rem;
		line-height: 2.7em;
	}

	.homeCardsContainer .col-md-4 {
		margin-bottom: 15%;
	}

	.relaxContainer {
		background:url(../images/img5Mob.jpg) no-repeat;
		height: 330px;
		top: 1150px;
	}

	.relaxContainer h3 {
		font-size: 20px;
		margin-top: 23%;
	}

	.relaxContainer p {
		font-size: xx-small;
	}

	.ctaSeparator {
		text-align: center;
		top: 1150px;
		min-height: 300px; 
	}

	.ctaSeparator h3 {
		font-size: 28px;
	}

	.preFooterContainer {
		max-height: 100%;
		top:1108px;
	}

	.myfooter {
		top: 1108px;
	}

	.footerSmallLinks {
		font-size: 8px;
	}

	.footerSmallText {
		margin-top: 2%;
	}

}

@media only screen and (min-width: 768px) and (max-width:1024px){

	.counterContainer h4 {
		font-size: 13px;
	}

	.counterContainer h1 {
		font-size: 28px;
	}

	.tailorContainer {
		padding-bottom: 10%;
	}

	.tailorContainer h1 {
		margin-top: 6%;
		margin-bottom: 2%;
		font-size: 26px;
	}

	.tailorContainer p {
		font-size: 18px;
	}

	#ctaHomePg {
		width: 35%;
	}

	.homeCardsContainer {
		top: 613px;
	}

	.relaxContainer {
		top: 680px;
	}

	.ctaSeparator {
		top: 613px;
	}

	.imgThumbDiv {
		width: 100%;
	}

	.preFooterContainer p {
		font-size: 11px;
	}

	.preFooterContainer {
		top: 571px;
		max-height: 100%;
	}
	

	.brandPar {
		font-size: xx-small !important;
	}

	.myfooter {
		top: 968px;
	}


}


@media only screen and (min-width: 1024px) and (max-width: 1124px){

	.homeCardsContainer {
		top: 360px;
	}

	.relaxContainer {
		top: 392px;
	}

	.ctaSeparator {
		top: 381px;
	}

	.preFooterContainer {
		top: 340px;
	}


}